.card__delete-button {
    padding: 0;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    width: 18px;
    height: 19px;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 2;
    background-image: url(../../../images/Trash.svg);
}

.card__delete-button:hover {
    opacity: 50%;
}