.popup__heading {
    margin: 0;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
}
@media (max-width: 845px) {
    .popup__heading {
            font-size: 18px;
            line-height: 22px;
        }
}