.card__button {
    flex-shrink: 0;
    padding: 0;
    background-image: url(../../../images/Like.svg);
    height: 19px;
    width: 22px;
    border: none;
    outline: none;
    background-color: transparent;
}
.card__button:hover {
    opacity: 50%;
}
.card__button:active {
    opacity: 100%;
    background-image: url(../../../images/Like-active.svg);
}