.popup__close-button {
    position: absolute;
    background-image: url(../../../images/Close_Icon.svg);
    height: 32px;
    width: 32px;
    border: none;
    outline: none;
    padding: 0;
    top: -40px;
    right: -40px;
    background-color: transparent;
}
.popup__close-button:hover {
    opacity: 60%;
}
@media (max-width: 845px) {
    .popup__close-button {
            background-size: cover;
            height: 20px;
            width: 20px;
            top: -36px;
            right: 0;
        }
}