.card {
    padding-bottom: 6px;
    width: 100%;
    max-width: 282px;
    aspect-ratio: 282 / 361;
    border-radius: 10px;
    background-color: #fff;
    display: grid;
    grid-template-rows: 282px 79px;
    box-sizing: border-box;
    position: relative;
    height: 100%;
}