.popup-image__close-button {
    position: absolute;
    background-image: url(../../../images/Close_Icon.svg);
    height: 32px;
    width: 32px;
    border: none;
    outline: none;
    padding: 0;
    top: -40px;
    z-index: 5;
    right: -40px;
    background-color: transparent;
    cursor: pointer;
}
.popup-image__close-button:hover {
    opacity: 60%;
}
@media (max-width: 880px) {
    .popup-image__close-button {
        background-size: cover;
        height: 20px;
        width: 20px;
        top: -36px;
        right: 0;
    }
}